In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("./Datasets/IRIS.csv")
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
data.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data.Species = le.fit_transform(data.Species)

In [7]:
data

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [10]:
X = data.iloc[:,:-1].values
Y = data.iloc[:,-1]

In [11]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=7)

In [13]:
from sklearn.naive_bayes import MultinomialNB

clf = MultinomialNB(alpha=1.5)
clf.fit(X_train,Y_train)

MultinomialNB(alpha=1.5, class_prior=None, fit_prior=True)

In [15]:
y_pred = clf.predict(X_test)
y_pred

array([2, 1, 0, 1, 2, 1, 1, 2, 0, 1, 1, 1, 0, 1, 0, 1, 2, 2, 1, 0, 1, 2,
       1, 2, 2, 2, 2, 2, 2, 2])

In [16]:
from sklearn import metrics

print("\nAccuracy Score :");print(metrics.accuracy_score(Y_test,y_pred))
print("\nConfusion Matrix: ");print(metrics.confusion_matrix(Y_test,y_pred))
print("\nClassification Report: ");print(metrics.classification_report(Y_test,y_pred))

Accuracy Score :
0.8

Confusion Matrix:
[[ 5  2  0]
 [ 0  9  3]
 [ 0  1 10]]

Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.71      0.83         7
           1       0.75      0.75      0.75        12
           2       0.77      0.91      0.83        11

    accuracy                           0.80        30
   macro avg       0.84      0.79      0.81        30
weighted avg       0.82      0.80      0.80        30